<div class="table-container" [ngClass]="currentBackgroundClass">
  <div class="table-wrapper">
    
    <!-- Desktop table -->
    <app-desktop-table [currentDayNumber]="currentDayNumber" [currentDayTimestamps]="currentDayTimestamps" [currentMonth]="currentMonth" [currentYear]="currentYear" [currentMonthData]="currentMonthData" ></app-desktop-table>
    <!-- Mobile tables -->
    <app-mobile-table [currentDayNumber]="currentDayNumber" [currentDayTimestamps]="currentDayTimestamps" [currentMonth]="currentMonth" [currentYear]="currentYear" [currentMonthData]="currentMonthData" ></app-mobile-table>

<router-outlet />
